# Optimal Transport Algorithms Analysis

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML
from uot.analysis import get_agg_table, get_mean_comparison_table, get_std_comparison_table, display_mean_and_std, display_all_metrics

plt.style.use('ggplot')
sns.set_palette("colorblind")

In [4]:
results_df = pd.read_csv('result_2025-05-01_02-52-55.csv')

print(f"Shape of results: {results_df.shape}")
print(f"Algorithms: {results_df['name'].unique()}")
print(f"Datasets: {results_df['dataset'].unique()}")

results_df.head()

Shape of results: (5740, 34)
Algorithms: ['pot-lp' 'ott-jax-sinkhorn' 'jax-sinkhorn' 'optax-grad-ascent']
Datasets: ['32 1D gamma' '64 1D gamma' '256 1D gamma' '512 1D gamma' '1024 1D gamma'
 '2048 1D gamma' '32 1D gaussian' '64 1D gaussian' '256 1D gaussian'
 '512 1D gaussian' '1024 1D gaussian' '2048 1D gaussian' '32 1D beta'
 '64 1D beta' '256 1D beta' '512 1D beta' '1024 1D beta' '2048 1D beta'
 '32 1D beta_cauchy_gamma_gaussian' '64 1D beta_cauchy_gamma_gaussian'
 '128 1D beta_cauchy_gamma_gaussian' '256 1D beta_cauchy_gamma_gaussian'
 '512 1D beta_cauchy_gamma_gaussian' '1024 1D beta_cauchy_gamma_gaussian'
 '2048 1D beta_cauchy_gamma_gaussian' 'WhiteNoise 32x32'
 'CauchyDensity 32x32' 'GRFmoderate 32x32' 'GRFrough 32x32'
 'GRFsmooth 32x32' 'LogGRF 32x32' 'LogitGRF 32x32'
 'MicroscopyImages 32x32' 'Shapes 32x32' 'ClassicImages 32x32'
 '3D_Colored_Mesh_red_1024x1024pts' '3D_Colored_Mesh_red_2048x2048pts']

,Unnamed: 0,problem,source_measure_name,target_measure_name,source_gamma,target_gamma,dataset,time,cost_rerr,coupling_avg_err,...,source_color_name,source_num_points,target_mesh_name,target_color_channel,target_color_name,target_num_points,source_points,target_points,color_mode,name
0,3,Simple transport,32 1D gamma,32 1D gamma,"(np.float64(2.0), np.float64(6.0))","(np.float64(8.0), np.float64(2.72))",32 1D gamma,0.688336,1.557822e-16,1.516189e-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot-lp
1,4,Simple transport,32 1D gamma,32 1D gamma,"(np.float64(2.0), np.float64(6.0))","(np.float64(2.0), np.float64(5.34))",32 1D gamma,0.574769,0.000000e+00,6.098637e-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot-lp
2,5,Simple transport,32 1D gamma,32 1D gamma,"(np.float64(2.0), np.float64(6.0))","(np.float64(3.0), np.float64(1.41))",32 1D gamma,0.640088,2.884502e-16,3.684593e-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot-lp
3,6,Simple transport,32 1D gamma,32 1D gamma,"(np.float64(2.0), np.float64(6.0))","(np.float64(5.0), np.float64(3.38))",32 1D gamma,0.579087,0.000000e+00,2.187992e-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot-lp
4,7,Simple transport,32 1D gamma,32 1D gamma,"(np.float64(2.0), np.float64(6.0))","(np.float64(10.0), np.float64(4.03))",32 1D gamma,0.582283,0.000000e+00,1.365841e-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot-lp

In [21]:
metrics_to_analyze = ['time', 'cost_rerr', 'coupling_avg_err']

for metric in metrics_to_analyze:
    print(f"\n## Analysis of {metric} ##")
    display_mean_and_std(results_df, metric)

## Analysis of time ##

## Analysis of cost_rerr ##

## Analysis of coupling_avg_err ##

In [5]:
one_dim_datasets = [ds for ds in results_df['dataset'].unique() if '1D' in ds]
two_dim_datasets = [ds for ds in results_df['dataset'].unique() if '2D' in ds or 'x32' in ds]
mesh_datasets = [ds for ds in results_df['dataset'].unique() if 'Mesh' in ds]

dataset_groups = {
    '1D Datasets': one_dim_datasets,
    '2D Datasets': two_dim_datasets,
    '3D Mesh Datasets': mesh_datasets
}

algorithms = results_df['name'].unique()

In [29]:
import os
import matplotlib.pyplot as plt
import seaborn as sns

def plot_runtime_distributions(datasets, results_df, algorithms, save_path):
    os.makedirs(save_path, exist_ok=True)
    
    for dataset in datasets:
        dataset_data = results_df[results_df['dataset'] == dataset]
        
        fig, axes = plt.subplots(1, 2, figsize=(18, 5))

        ax1 = axes[0]
        ax1.set_yscale('log')
        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['time']
            if len(algo_data) > 0:
                sns.kdeplot(algo_data, ax=ax1, label=algo, fill=True, alpha=0.3)
        
        ax1.set_title(f'KDE of Runtime for {dataset}')
        ax1.set_xlabel('Runtime (seconds)')
        ax1.set_ylabel('Frequency')
        ax1.legend()

        ax2 = axes[1]
        plot_data = []
        labels = []

        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['time']
            if len(algo_data) > 0:
                plot_data.append(algo_data)
                labels.append(algo)
            else:
                print(f"Algorithm: {algo}, Dataset: {dataset}, Count: {len(algo_data)} - No data")

        ax2.boxplot(plot_data, tick_labels=labels, showmeans=True)
        ax2.set_title(f'Box Plot of Runtime for {dataset}')
        ax2.set_ylabel('Runtime (seconds)')
        ax2.set_yscale('log')
        plt.setp(ax2.get_xticklabels(), rotation=45, ha='right')

        plt.tight_layout()
        save_file = os.path.join(save_path, f"{dataset}_runtime_distributions.png")
        plt.savefig(save_file)
        plt.close(fig)


def plot_cost_err_distributions(datasets, results_df, algorithms, save_path):
    os.makedirs(save_path, exist_ok=True)

    for dataset in datasets:
        dataset_data = results_df[results_df['dataset'] == dataset]

        fig, axes = plt.subplots(1, 2, figsize=(18, 5))

        ax1 = axes[0]
        ax1.set_yscale('log')
        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['cost_rerr']
            if len(algo_data) > 1 and algo_data.nunique() > 1:
                sns.kdeplot(algo_data, ax=ax1, label=algo, fill=True, alpha=0.3)
            elif algo_data.nunique() == 1:
                print(f"Algorithm: {algo}, Dataset: {dataset}, Count: {len(algo_data)} - Constant value")
                const_val = algo_data.iloc[0]
                ax1.axvline(const_val, label=f"{algo} (constant)", linestyle='--')

        ax1.set_title(f'KDE of Cost Error for {dataset}')
        ax1.set_xlabel('Cost Error')
        ax1.set_ylabel('Frequency')
        ax1.legend()

        ax2 = axes[1]
        plot_data = []
        labels = []

        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['cost_rerr']
            if len(algo_data) > 0:
                plot_data.append(algo_data)
                labels.append(algo)

        ax2.boxplot(plot_data, tick_labels=labels, showmeans=True)
        ax2.set_title(f'Box Plot of Cost Error for {dataset}')
        ax2.set_ylabel('Cost Error')
        ax2.set_yscale('log')
        plt.setp(ax2.get_xticklabels(), rotation=45, ha='right')

        plt.tight_layout()
        plt.savefig(os.path.join(save_path, f"{dataset}_cost_err_distributions.png"))
        plt.close(fig)


def plot_coupling_err_distributions(datasets, results_df, algorithms, save_path):
    os.makedirs(save_path, exist_ok=True)

    for dataset in datasets:
        dataset_data = results_df[results_df['dataset'] == dataset]

        fig, axes = plt.subplots(1, 2, figsize=(18, 5))

        ax1 = axes[0]
        ax1.set_yscale('log')
        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['coupling_avg_err']
            if len(algo_data) > 0:
                sns.kdeplot(algo_data, ax=ax1, label=algo, fill=True, alpha=0.3)

        ax1.set_title(f'KDE of Coupling Avg. Error for {dataset}')
        ax1.set_xlabel('Coupling Avg. Error')
        ax1.set_ylabel('Frequency')
        ax1.legend()

        ax2 = axes[1]
        plot_data = []
        labels = []

        for algo in algorithms:
            algo_data = dataset_data[dataset_data['name'] == algo]['coupling_avg_err']
            if len(algo_data) > 0:
                plot_data.append(algo_data)
                labels.append(algo)

        ax2.boxplot(plot_data, tick_labels=labels, showmeans=True)
        ax2.set_title(f'Box Plot of Coupling Avg. Error for {dataset}')
        ax2.set_ylabel('Coupling Avg. Error')
        ax2.set_yscale('log')
        plt.setp(ax2.get_xticklabels(), rotation=45, ha='right')

        plt.tight_layout()
        plt.savefig(os.path.join(save_path, f"{dataset}_coupling_err_distributions.png"))
        plt.close(fig)

In [30]:
for group_name, datasets in dataset_groups.items():
    print(f"\n### {group_name} Runtime Analysis ###")
    plot_runtime_distributions(datasets, results_df, algorithms, save_path='runtime_distributions')
    print(f"\n### {group_name} Cost Error Analysis ###")
    plot_cost_err_distributions(datasets, results_df, algorithms, save_path='cost_err_distributions')
    print(f"\n### {group_name} Coupling Error Analysis ###")
    plot_coupling_err_distributions(datasets, results_df, algorithms, save_path='coupling_err_distributions')

### 1D Datasets Runtime Analysis ###

### 1D Datasets Cost Error Analysis ###

### 1D Datasets Cost Error Analysis ###
Algorithm: optax-grad-ascent, Dataset: 512 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 512 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 1024 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 1024 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 2048 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 2048 1D gamma, Count: 42 - Constant value
Algorithm: optax-grad-ascent, Dataset: 1024 1D beta_cauchy_gamma_gaussian, Count: 25 - Constant value
Algorithm: optax-grad-ascent, Dataset: 1024 1D beta_cauchy_gamma_gaussian, Count: 25 - Constant value
Algorithm: optax-grad-ascent, Dataset: 2048 1D beta_cauchy_gamma_gaussian, Count: 25 - Constant value
Algorithm: optax-grad-ascent, Dataset: 2048 1D beta_cauchy_gamma_gaussian, Count: 25 - Constant value

### 1D Datasets Coupling Error Analysis ###

### 1D Datasets Coupling Error Analysis ###

### 2D Datasets Runtime Analysis ###

### 2D Datasets Runtime Analysis ###

### 2D Datasets Cost Error Analysis ###

### 2D Datasets Cost Error Analysis ###

### 2D Datasets Coupling Error Analysis ###

### 2D Datasets Coupling Error Analysis ###

### 3D Mesh Datasets Runtime Analysis ###

### 3D Mesh Datasets Runtime Analysis ###

### 3D Mesh Datasets Cost Error Analysis ###

### 3D Mesh Datasets Cost Error Analysis ###

### 3D Mesh Datasets Coupling Error Analysis ###

### 3D Mesh Datasets Coupling Error Analysis ###